n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-message",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        560
      ],
      "id": "1b52a1b6-0c76-40f3-ab63-c05f51750033",
      "name": "Webhook",
      "webhookId": "113e040c-328c-4f66-a70f-9ea29ceeeb1d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un assistant WhatsApp professionnel.\nRéponds de manière courte, claire et utile et avec la langue que le client pse sa question si fr repo fr si ar repo ar etc .\nmessage_id: {{ $json.body.message_id ?? $json.message_id }}\nMessage du client : {{ $json.body.contenu_texte ?? $json.contenu_texte }}\n\nRéponds uniquement avec ces champs :\n- intention : texte court\n- reponse : réponse à envoyer au client\n- score_confiance : nombre entre 0 et 1",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        576
      ],
      "id": "1519cc7d-dcf0-4992-9539-19baa5c3edb3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        752,
        1008
      ],
      "id": "06e1d901-8576-4597-ab0d-26471889194d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "StEwXyumTvcLe2tj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intention\": \"string\",\n  \"reponse\": \"string\", \n  \"score_confiance\": 0.9,\n  \"message_id\": 1\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        992,
        1008
      ],
      "id": "3ee3d98e-6151-41f0-972a-e37ba2d041ea",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d29decc-d8ca-4d99-b2ac-1c301ce3c6a7",
              "name": "output.properties.intention",
              "value": "={{ $json.output.intention }}",
              "type": "string"
            },
            {
              "id": "faaa7246-bc6b-42b2-9258-08860a0a9d30",
              "name": "output.properties.reponse",
              "value": "={{ $json.output.reponse }}",
              "type": "string"
            },
            {
              "id": "610ad9b3-3171-4079-b004-91d1c9380830",
              "name": "output.properties.score_confiance",
              "value": "={{ $json.output.score_confiance }}",
              "type": "number"
            },
            {
              "id": "e4e225fd-576d-4b0d-b641-4575ea518748",
              "name": "=output.properties.message_id",
              "value": "={{ $json.output.message_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        576
      ],
      "id": "5d973f26-3126-4e73-9c97-84ef19f43ba7",
      "name": "Normalize AI Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51989f9f-2946-4662-b88f-3447a77620ed",
              "leftValue": "={{$json.output.properties.score_confiance}}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        576
      ],
      "id": "2dc358ea-f67e-422d-be0d-53fd81e7f99c",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/webhook/n8n-repondre/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message_id\": {{ $('Webhook').item.json.body.message_id }},\n  \"statut\": \"repondu_auto\",\n  \"reponse\": \"{{ $json.output.properties.reponse }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2336,
        560
      ],
      "id": "819e33ce-d505-4646-89fb-05bfe563c270",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ymzsbgv1zHo3hYgG",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/webhook/n8n-repondre/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message_id\": \"{{ $('Webhook').item.json.body.message_id }}\",\n  \"statut\": \"escalated\",\n  \"reponse\": \"Merci pour votre message. Je vous mets en relation avec un conseiller.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2352,
        832
      ],
      "id": "165956e0-e754-4147-b525-3ccfafd1fbfa",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ymzsbgv1zHo3hYgG",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "112e1205-b73e-4322-96fe-e0b16754cb7a",
              "leftValue": "={{ $json.body.type_message }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        560
      ],
      "id": "c3d77153-2d97-4074-9fe9-58110d00b0e6",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=audio"
            },
            {
              "name": "=model",
              "value": "whisper-large-v3"
            },
            {
              "name": "language",
              "value": "fr"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        0
      ],
      "id": "e12d4298-0311-4b19-bf34-12994dc622b5",
      "name": "HTTP Request2",
      "credentials": {
        "groqApi": {
          "id": "apwrcNUpOc4TjLg8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const audioBase64 = $input.item.json.body.audio_base64;\nconst audioBuffer = Buffer.from(audioBase64, 'base64');\n\nreturn [{\n  json: {\n    message_id: $input.item.json.body.message_id,\n    from_number: $input.item.json.body.from_number,\n  },\n  binary: {\n    audio: await this.helpers.prepareBinaryData(\n      audioBuffer,\n      'audio.ogg',\n      'audio/ogg'\n    )\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "2fffaa9e-94dd-47e0-8107-0893da6e1478",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"contenu_texte\": \"{{ $json.text }}\",\n  \"message_id\": \"{{ $('If1').item.json.body.message_id }}\",\n  \"from_number\": \"{{ $('If1').item.json.body.from_number }}\",\n  \"type_message\": \"text\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        0
      ],
      "id": "084373ef-33d4-481b-9bed-81a3564f668c",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "python-requests/2.34.2",
            "accept-encoding": "gzip, deflate, zstd",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "200",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "message_id": 84,
            "wa_message_id": "wamid.HBgMMjEyNjg5MzEyMzkyFQIAEhgUM0FEMkM0NzdFQUVGNTYwREJBNEIA",
            "from_number": "212689312392",
            "type_message": "text",
            "contenu_texte": "Ok merci j’attends"
          },
          "webhookUrl": "http://localhost:5678/webhook/whatsapp-message",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Normalize AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Normalize AI Output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c924126a-be40-4a92-a700-457e1b714d36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0363b1313cdf37be3dcdc179f294dd03c571a09c26cb093473665b5a0da9c2d2"
  },
  "nodeGroups": [],
  "id": "L3CpsifGX4CtMGjr",
  "tags": []
}